@use '../utilities/' as *;

/*
    toggle
*/

.toggle {
    display: flex;
    justify-content: flex-end;
    color: var(--clr-text-secondary);
    font-weight: var(--fw-bold);

    &-text {
        padding-right: rem(14);
    }
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    height: rem(34);
    width: rem(60);
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--clr-bg-toggle);
    cursor: pointer;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    bottom: rem(4);
    left: rem(4);
    background-color: var(--clr-bg-body);
    height: rem(26);
    width: rem(26);
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--clr-bg-body);
}

input:checked+.slider:before {
    transform: translateX(rem(26));
}

.slider.round {
    border-radius: rem(34);
}

.slider.round:before {
    border-radius: 50%;
}