// typography.scss
// 
// This module holds typography variables, mixins, and functions
// 
// All rem values assume 1rem = 16px.


// - Font size (Overview Card Headings): 14px

$font-family-body: 'Inter', sans-serif;
$font-family-headings: $font-family-body;


// typography map
// 
// 
$typography: (
    "font-family": (
        "prefix": "ff",
        "values": (
            "body": $font-family-body,
            "heading": $font-family-headings,
            // "code": 
        ),
    ),
    "font-size": (
        "prefix": "fs",
        "values": (
            "body": rem(14),
            // "h1": 1.5rem,
            // "h2": rem(40),
        ),
    ),
    "font-weight": (
        "prefix": "fw",
        "values": (
            // "light": 300,
            "normal": 400,
            "bold": 700,
        ),
    ),
);


// minimum/maximum container widths
//
// Define the maximum width for each device size.  These values
// are used in media queries as well as variable font functions
// use f.rem() function to calculate rems
// $max-width-phone:   f.rem(700);
// $max-width-tablet:  f.rem(900);
// $max-width-desktop: f.rem(1110);

// // Typography

// $font-family-body: 'Public Sans', sans-serif;
// $font-family-headings: 'Public Sans', sans-serif;
// $font-family-monospace: 'Public Sans', sans-serif;


// $min-max-font-size: (
//     "body": (
//         "min": .875rem, //14px,
//         "max": 1.125rem, //18px,
//     ),
//     "h1": (
//         "min": 2rem, //32px,
//         "max": 2.75rem, //44px,
//     ),
//     "h2": (
//         "min": 1.75rem, //26px,
//         "max": 2.125rem, //34px,
//     ),
//     "h3": (
//         "min": 1.125rem, //18px,
//         "max": 1.375rem, //22px,
//     ),
//     "h4": (
//         "min": .9375rem, //15px,
//         "max": 1rem, //16px,
//     ),
// );

// build clamp() functions for responsive font sizes
// $fs-body: f.clamp-calc(
//     map-get($breakpoints, "sm"),  
//     map-get($breakpoints, "lg"),  
//     map-get($min-max-font-size, "body", "min"), 
//     map-get($min-max-font-size, "body", "max")
//     );
// $fs-h1: f.clamp-calc(
//     map-get($breakpoints, "sm"),  
//     map-get($breakpoints, "lg"),  
//     map-get($min-max-font-size, "h1", "min"), 
//     map-get($min-max-font-size, "h1", "max")
//     );
// $fs-h2: f.clamp-calc(
//     map-get($breakpoints, "sm"),  
//     map-get($breakpoints, "lg"),  
//     map-get($min-max-font-size, "h2", "min"), 
//     map-get($min-max-font-size, "h2", "max")
//     );
// $fs-h3: f.clamp-calc(
//     map-get($breakpoints, "sm"),  
//     map-get($breakpoints, "lg"),  
//     map-get($min-max-font-size, "h3", "min"), 
//     map-get($min-max-font-size, "h3", "max")
//     );
// $fs-h4: f.clamp-calc(
//     map-get($breakpoints, "sm"),  
//     map-get($breakpoints, "lg"),  
//     map-get($min-max-font-size, "h4", "min"), 
//     map-get($min-max-font-size, "h4", "max")
//     );


// $typography: (
//     "font-family": (
//         "prefix": "ff",
//         "values": (
//             "body": $font-family-body,
//             // "heading": $font-family-headings,
//             // "code": $font-family-monospace,
//         ),
//     ),
//     "font-size": (
//         "prefix": "fs",
//         "values": (
//             "body": $fs-body,
//             "h1": $fs-h1,
//             "h2": $fs-h2,
//             "h3": $fs-h3,
//             "h4": $fs-h4,
//         ),
//     ),
//     "font-weight": (
//         "prefix": "fw",
//         "values": (
//             "light": 300,
//             "normal": 400,
//             "bold": 700,
//         ),
//     ),
// );