@use 'breakpoints';
@use 'functions' as *;
// typography.scss
// 
// This module holds typography variables, mixins, and functions
// 
// All rem values assume 1rem = 16px.


// base font stacks
$font-family-body: 'Inter', sans-serif;
$font-family-headings: $font-family-body;


// typography map
$typography: (
    "font-family": (
        "prefix": "ff",
        "values": (
            "body": $font-family-body,
            "heading": $font-family-headings,
        ),
    ),
    "font-size": (
        "prefix": "fs",
        "values": (
            "body": rem(14),
            "h1": clamp(1.5rem, 1.21rem + 1.03vw, 1.75rem),
            "h2": rem(20),
            "h3": rem(14),
        ),
    ),
    "font-weight": (
        "prefix": "fw",
        "values": (
            // "light": 300,
            "normal": 400,
            "bold": 700,
        ),
    ),
);