@use '../utilities/' as *;

// boilerplate.scss
// 
// Basic reset and global styles that apply project-wide

/*
    reset & global boilerplate styles
*/

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--clr-bg-body);
    color: var(--clr-text-primary);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }