@use '../utilities/' as *;

// boilerplate.scss
// 
// Basic reset and global styles that apply project-wide

/*
    reset & global boilerplate styles
*/

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

a, a:visited, a:active {
    text-decoration: none;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 { font-size: var(--fs-h1); }
h1 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }